#b1, #b2, #b3, #b4, #b5, #b6, #b7, #b8, #b9, #b0 {
    height: 120px;
    width: 120px;
    padding: 5px;
    margin: 5px;
    font-family: fontAwsome;
    font-size: 25px;
    background-color: darkorange;
    border: 2px solid black;
    background: linear-gradient(to bottom right, indianred, darkorange);
   
}

#buttonDiv{
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 5%;
    height: 60%;
    width: 60%;

}



#nextTask {
    background-color: darkorange;
    font-family: fontAwsome;
    font-size: 25px;
    width: 250px;
    height: 50px;
    border: 2px solid black;
    background: linear-gradient(to bottom right, indianred, darkorange);
}

#newRound {
    /*margin-left: 490px;*/
    background-color: darkorange;
    font-family: fontAwsome;
    font-size: 25px;
    width: 250px;
    height: 50px;
    border: 2px solid black;
    background: linear-gradient(to bottom right, indianred, darkorange);
    display: block;
    margin-left: 65%;
    margin-right: 65%;
}

svg {
    display: block;
    margin-left: 43%;
    margin-right: 43%;
    font-family: fontAwsome;
    background-color: darkorange;
    border: 2px solid black;
    background: linear-gradient(to bottom right, indianred, darkorange);
}

#equals {
    display: none;  
    position: absolute;
    top: 10px;
    right: 30%;
    font-family: fontAwsome;
    background-color: darkorange;
    border: 2px solid black;
    background: linear-gradient(to bottom right, indianred, darkorange);
    text-align: center;
    font-size: 60px;
    float: right;
    width: 100px;
  
}

#secdiv {
    display: none;
    margin-left: 65%;
    margin-right: 65%;
    font-family: fontAwsome;
    background-color: darkorange;
    background: linear-gradient(to bottom right, indianred, darkorange);
    font-size: 25px;
    border: 2px solid black;
    height: 60px;
    width: 25%;
    padding-top: 10px;
    color: black;
}

body {
    background-image: url("abstract-ancient-antique-235985.jpg");
    overflow: hidden;
}

img {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

#answers {
    display: none;
    font-family: fontAwsome;
    background-color: darkorange;
    background: linear-gradient(to bottom right, indianred, darkorange);
    font-size: 50px;
    border: 2px solid black;
    height: 50px;
    width: 12%;
    padding-bottom: 10px;
    color: black;
    float: right;
    text-align: center;
    position: absolute;
    right: 16%;
    top: 10px;

}

#clear {
    background-color: darkorange;
    font-family: fontAwsome;
    font-size: 25px;
    width: 150px;
    height: 100px;
    border: 2px solid black;
    background: linear-gradient(to bottom right, indianred, darkorange);
    position: absolute;
    right: 15px;
    top: 15%;

}