#b1, #b2, #b3, #b4, #b5, #b6, #b7, #b8, #b9, #b0 {
    height: 120px;
    width: 120px;
    padding: 5px;
    margin: 5px;
    font-family: fontAwsome;
    font-size: 25px;
    background-color: darkorange;
    border: 2px solid black;
    background: linear-gradient(to bottom right, indianred, darkorange);
   
}

#buttonDiv{
    height: 60%;
    width: 60%; 
    display: block;
    position: absolute;
    top: 30%;
    right: 5%;
}



#nextTask {
    background-color: darkorange;
    font-family: fontAwsome;
    font-size: 25px;
    width: 250px;
    height: 50px;
    border: 2px solid black;
    background: linear-gradient(to bottom right, indianred, darkorange);
    position: absolute;
    right: 30%;
    top: 55%;
    display: none;

}

#newRound {
    /*margin-left: 490px;*/
    background-color: darkorange;
    font-family: fontAwsome;
    font-size: 25px;
    width: 250px;
    height: 50px;
    border: 2px solid black;
    background: linear-gradient(to bottom right, indianred, darkorange);
    display: block;
    position: absolute;
    top: 75%;
    right: 5%;
   
}

#svgContainer {
    display: none;
    font-family: fontAwsome;
    background-color: darkorange;
    border: 2px solid black;
    background: linear-gradient(to bottom right, indianred, darkorange);
    position: absolute;
    right: 43%;
    top: 80px;
}

#equals {
    display: none;
    position: absolute;
    top: 80px;
    right: 30%;
    font-family: fontAwsome;
    background-color: darkorange;
    border: 2px solid black;
    background: linear-gradient(to bottom right, indianred, darkorange);
    text-align: center;
    font-size: 60px;
    float: right;
    width: 100px;
}

#secdiv {
    display: none;
    font-family: fontAwsome;
    background-color: darkorange;
    background: linear-gradient(to bottom right, indianred, darkorange);
    font-size: 25px;
    border: 2px solid black;
    height: 60px;
    width: 25%;
    padding-top: 10px;
    color: black;
    position: absolute;
    top: 80%;
    right: 5%;
}

body {
    background-image: url("abstract-ancient-antique-235985.jpg");
    overflow: hidden;
}

img {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

#answers {
    display: none;
    font-family: fontAwsome;
    background-color: darkorange;
    background: linear-gradient(to bottom right, indianred, darkorange);
    font-size: 50px;
    border: 2px solid black;
    height: 50px;
    width: 12%;
    padding-bottom: 10px;
    color: black;
    text-align: center;
    right: 15%;
    top: 80px;
    position: absolute;
}

#clear {
    background-color: darkorange;
    font-family: fontAwsome;
    font-size: 25px;
    width: 150px;
    height: 100px;
    border: 2px solid black;
    background: linear-gradient(to bottom right, indianred, darkorange);
    position: absolute;
    right: 15px;
    top: 5px;
}

#taskNumber {
    font-family: fontAwsome;
    background-color: darkorange;
    background: linear-gradient(to bottom right, indianred, darkorange);
    font-size: 25px;
    border: 2px solid black;
    height: 60px;
    width: 25%;
    color: black;
    text-align: center;
    padding-top: 10px;
    position: absolute;
    top: 18%;
    right: 25%;
    display: none;
}

#resultDiv {
    font-family: fontAwsome;
    background-color: darkorange;
    background: linear-gradient(to bottom right, indianred, darkorange);
    font-size: 25px;
    border: 2px solid black;
    height: 45%;
    width: 30%;
    color: black;
    padding-top: 10px;
    position: absolute;
    bottom: 15%;
    left: 5%;
    padding-left: 10px;
    display: none;
}

#firebaseui-auth-container {
    position: absolute;
    left: 10%;
}

#place {
    position: absolute;
    left: 1%;
    font-family: fontAwsome;
    background-color: darkorange;
    background: linear-gradient(to bottom right, indianred, darkorange);
    font-size: 25px;
    border: 2px solid black;
    color: black;
    top: 25%;
   
}

#geoLocation {
    position: absolute;
    left: 1%;
    font-family: fontAwsome;
    background-color: darkorange;
    background: linear-gradient(to bottom right, indianred, darkorange);
    font-size: 25px;
    border: 2px solid black;
    color: black;
    top: 20%;
}